@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
*, html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Open Sans", sans-serif;
}

body, html, h1, h2, h3, h4, h5, h6, p,
.huge, .x-large, .large, .medium, .small, .x-small {
  margin: 0;
  padding: 0;
}

.huge, h1 {
  font-size: 64px;
  line-height: 64px;
}

.x-large, h2 {
  font-size: 48px;
  line-height: 48px;
}

.large, h3 {
  font-size: 36px;
  line-height: 36px;
}

.medium, h4 {
  font-size: 24px;
  line-height: 24px;
}

.small, h5 {
  font-size: 18px;
  line-height: 18px;
}

.x-small, h6 {
  font-size: 12px;
  line-height: 12px;
}

em, .text-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

#site-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#body-content-container {
  position: absolute;
  right: 0;
  width: 80%;
  padding: 60px;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  padding: 76px;
  cursor: pointer;
}

.button {
  width: 160px;
  padding: 10px;
  text-align: center;
  border: 1px solid #f3f3f3;
  border-radius: 3px;
  background-color: #f3f3f3;
  color: #313335;
  text-decoration: none;
}

.primary-button {
  border: 1px solid #2f86e7;
  background-color: #2f86e7;
  color: #fff;
  transition: .25s ease-in-out;
}

.primary-button:hover {
  background-color: #176dcc;
}

.secondary-button {
  border: 1px solid #23b94a;
  background-color: #23b94a;
  color: #fff;
  transition: .25s ease-in-out;
}

.secondary-button:hover {
  background-color: #1b8e39;
}

.cta-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.cta-wrapper .cta-link {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-decoration: none;
  color: #e3667e;
  transition: 0.25s ease-in-out;
}

.cta-wrapper .cta-link:hover {
  color: #66a1e3;
}

@media screen and (max-width: 800px) {
  #site-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #body-content-container {
    margin-top: 60px;
    width: 100%;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
  }
  .section-title {
    font-size: 36px;
    line-height: 36px;
    padding: 30px 50px;
  }
}

@media screen and (max-width: 500px) {
  .section-title {
    font-size: 30px;
    line-height: 30px;
    padding: 30px;
  }
  .button {
    width: 100px;
    padding: 10px;
  }
}

#navigation-container {
  position: fixed;
  left: 0;
  width: 5%;
  height: 100%;
  padding: 60px 40px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e8ecf1;
  transition: 0.25s ease-in-out;
  z-index: 2;
}

#navigation-container.toggle {
  width: 20%;
  height: 100%;
  transition: 0.25s ease-in-out;
}

#navigation-container.toggle .navigation-brand-wrapper {
  justify-content: space-between;
}

#navigation-container.toggle .navigation-brand-wrapper .navigation-logo {
  display: flex;
}

#navigation-container.toggle .navigation-brand-wrapper .navigation-menu-toggle {
  margin: 0 auto;
}

#navigation-container.toggle .navigation-links-wrapper {
  display: flex;
}

.navigation-brand-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80px;
}

.navigation-logo {
  display: none;
  padding: 10px 0;
  transition: 0.25s fade-in;
}

.navigation-logo img {
  height: 60px;
}

.navigation-menu-toggle {
  padding: 22px 0;
  margin: 0 auto;
}

.navigation-menu-toggle img {
  height: 36px;
  width: auto;
}

.navigation-menu-toggle .menu {
  display: flex;
  cursor: pointer;
}

.navigation-menu-toggle .menu.toggle {
  display: none;
}

.navigation-menu-toggle .close {
  display: none;
  cursor: pointer;
}

.navigation-menu-toggle .close.toggle {
  display: flex;
}

.navigation-links-wrapper {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
}

.navigation-link {
  font-size: 36px;
  line-height: 36px;
  margin: 20px 0;
  text-decoration: none;
  color: #313335;
  transition: .2s ease-in-out;
}

.navigation-link:hover {
  color: #66a1e3;
}

@media screen and (max-width: 800px) {
  #navigation-container {
    width: 100%;
    height: auto;
    padding: 10px 40px;
    font-family: "Montserrat", sans-serif;
  }
  #navigation-container.toggle {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .navigation-brand-wrapper {
    height: 80px;
  }
  .navigation-menu-toggle {
    padding: 22px 0;
    margin: 0 auto;
  }
  .navigation-links-wrapper {
    margin: 20px auto;
  }
}

#about {
  width: 80%;
  margin: 30px auto;
}

.about-section-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #66a1e3;
  border-radius: 3px;
}

#about-section-slider {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  background-color: #e8ecf1;
  padding: 40px;
  border-radius: 3px;
}

.about-face-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-face-wrapper .about-face {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
}

.about-face-wrapper .about-face-snippet {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}

.about-content-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
}

.about-content-wrapper p {
  padding: 10px 0;
}

@media screen and (max-width: 800px) {
  #about {
    width: 100%;
  }
  #about-section-slider {
    width: 100%;
    flex-direction: column;
    padding: 10px;
  }
  .about-face-wrapper {
    width: 100%;
    padding: 30px 0px;
  }
  .about-content-wrapper {
    width: 100%;
    display: flex;
    padding: 10px 10px;
  }
}

#portfolio {
  width: 80%;
  margin: 30px auto;
}

.portfolio-section-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e3667e;
  border-radius: 3px;
}

#portfolio-section-slider {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #e8ecf1;
  padding: 40px;
  border-radius: 3px;
}

.portfolio-card-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border-radius: 3px;
  background-color: #fff;
}

.portfolio-card-container:last-child {
  margin-bottom: 0;
}

.portfolio-card-header .portfolio-card-image {
  height: 200px;
  width: 100%;
  border-radius: 3px 3px 0 0;
  object-fit: cover;
}

.portfolio-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.portfolio-card-content {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-card-title {
  font-family: "Montserrat", sans-serif;
  padding: 10px 0;
}

.portfolio-card-sub-title {
  font-family: "Montserrat", sans-serif;
  padding: 10px 0;
}

.portfolio-card-copy {
  padding: 10px 0;
}

.portfolio-divider {
  height: 200px;
  margin: auto;
  border: 1px solid #f3f3f3;
}

.portfolio-card-button-wrapper {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.portfolio-card-button-wrapper a {
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  #portfolio {
    width: 100%;
  }
  #portfolio-section-slider {
    width: 100%;
    background-color: #fff;
    padding: 10px;
  }
  .portfolio-card-container {
    background-color: #e8ecf1;
  }
  .portfolio-card-container:last-child {
    margin-bottom: 0;
  }
  .portfolio-card-header .portfolio-card-image {
    height: 200px;
    width: 100%;
    border-radius: 3px 3px 0 0;
    object-fit: cover;
  }
  .portfolio-card-body {
    flex-direction: column;
    justify-content: space-between;
  }
  .portfolio-card-content {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }
  .portfolio-card-title {
    font-size: 30px;
    line-height: 30px;
  }
  .portfolio-card-sub-title {
    font-size: 20px;
    line-height: 20px;
  }
  .portfolio-divider {
    height: 0;
    width: 200px;
    border-color: #dadada;
  }
  .portfolio-card-button-wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .portfolio-card-button-wrapper a {
    margin: 0 auto;
  }
}

#testimonial {
  width: 80%;
  margin: 30px auto;
}

.testimonial-section-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #5bcd7e;
  border-radius: 3px;
}

#testimonial-section-slider {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #e8ecf1;
  padding: 40px;
  border-radius: 3px;
}

.testimonial-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
}

.testimonial-wrapper:last-child {
  background-color: #e8ecf1;
  padding: 0 20px;
}

.testimonial-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-quote {
  font-size: 18px;
  line-height: 18px;
  padding: 10px;
}

.testimonial-name {
  font-size: 24px;
  line-height: 24px;
  padding: 20px 10px 10px 40px;
  color: #5bcd7e;
}

.testimonial-wrapper .cta-wrapper {
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}

@media screen and (max-width: 800px) {
  #testimonial {
    width: 100%;
  }
  #testimonial-section-slider {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
  }
  .testimonial-wrapper {
    width: 100%;
    padding: 10px;
    background-color: #e8ecf1;
  }
  .testimonial-wrapper:last-child {
    background-color: #e8ecf1;
    padding: 0 20px;
  }
  .testimonial-wrapper .cta-wrapper {
    padding: 20px 10px;
  }
}

#contact {
  width: 80%;
  margin: 30px auto;
}

.contact-section-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e0b334;
  border-radius: 3px;
}

#contact-section-slider {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #e8ecf1;
  padding: 40px;
  border-radius: 3px;
}

.contact-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.contact-content-wrapper .contact-icon {
  text-decoration: none;
  transition: .25s ease-in-out;
}

.contact-content-wrapper .contact-icon:hover {
  transform: scale(1.2);
}

.contact-content-wrapper .contact-image {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  #contact {
    width: 100%;
  }
  #contact-section-slider {
    width: 100%;
    padding: 20px;
  }
  .contact-content-wrapper {
    width: 100%;
    justify-content: flex-start;
  }
  .contact-content-wrapper .contact-icon {
    width: 50%;
    display: flex;
  }
  .contact-content-wrapper .contact-image {
    margin: 10px auto;
  }
}
