// Navigation Styling Section

#navigation-container
  position: fixed
  left: 0
  width: 20%
  height: 100%
  padding: 60px 40px
  font-family: $font-family-primary
  display: flex
  flex-direction: column
  justify-content: flex-start
  background-color: $background-alt-color
  transition: 0.25s ease-in-out

#navigation-container.toggle
  width: 5%
  transition: 0.25s ease-in-out
  .navigation-brand-wrapper
    justify-content: center
    .navigation-logo
      display: none
    .navigation-menu-toggle
      margin: 0 auto
  .navigation-links-wrapper
    display: none

// Navigation Brand

.navigation-brand-wrapper
  display: flex
  flex-direction: row
  justify-content: space-between
  height: 80px
.navigation-logo
  padding: 10px 0
  img
    height: 60px
.navigation-menu-toggle
  padding: 22px 0
  img
    height: 36px
    width: auto
  .menu
    display: none
    cursor: pointer
  .menu.toggle
    display: flex
  .close
    display: flex
    cursor: pointer
  .close.toggle
    display: none

// Navigation Links

.navigation-links-wrapper
  display: flex
  flex-direction: column
  justify-content: space-around
  margin-top: 20px
.navigation-link
  font-size: 36px
  line-height: 36px
  margin: 20px 0
  text-decoration: none
  color: $primary-text
  transition: .2s ease-in-out
  &:hover
    color: $about-primary-color
