// Global Styling

#site-container
  width: 100%
  display: flex
  flex-direction: row

#body-content-container
  position: absolute
  right: 0
  width:80%
  padding: 60px
  display: flex
  flex-direction: column


.section-title
  font-size: 48px
  line-height: 48px
  color: $secondary-text
  padding: 76px
  cursor: pointer

.button
  width: 160px
  padding: 10px
  text-align: center
  border: 1px solid $divider-color
  border-radius: 3px
  background-color: $divider-color
  color: $primary-text
  text-decoration: none

.primary-button
  border: 1px solid $primary-button
  background-color: $primary-button
  color: $secondary-text
  transition: .25s ease-in-out
  &:hover
    background-color: darken($primary-button, 10%)

.secondary-button
  border: 1px solid $secondary-button
  background-color: $secondary-button
  color: $secondary-text
  transition: .25s ease-in-out
  &:hover
    background-color: darken($secondary-button, 10%)

.cta-wrapper
  display: flex
  flex-direction: column
  padding: 20px
  .cta-link
    font-family: $font-family-primary
    font-size: 36px
    line-height: 36px
    text-decoration: none
    color: $portfolio-primary-color
    transition: 0.25s ease-in-out
    &:hover
      color: $about-primary-color
